body {
    text-align: center;
    font-family: 'Typewcond Bold', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ffcccc;
    padding: 20px;
}

header h1 {
    margin: 0;
    color: #333;
}

.justify-paragraph {
    text-align: justify;
}

/* Estilos para la fuente Whocats */
@font-face {
    font-family: 'AGENTORANGE';
    src: url('AGENTORANGE.TTF') format('truetype');
}

/* Estilos para el título en el encabezado */
header h1 {
    font-family: 'AGENTORANGE', Arial, sans-serif;
}


@font-face {
    font-family: 'Typewcond Bold';
    src: url('typewcond_bold.ttf') format('truetype');
}

.introduction, .message {
    font-family: 'Typewcond Bold', Arial, sans-serif;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.introduction, .message {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Typewcond Bold', Arial, sans-serif;
}

footer {
    text-align: center;
    background-color: #ffcccc;
    padding: 10px 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 6px 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.gallery {
    max-width: 800px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.column {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.column p {
    margin-bottom: 10px;
}

.column img {
    width: 45%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 10px;
}

.column img:last-child {
    margin-right: 0;
}

img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 20px solid #ffcccc;
}
